<h1>Lists</h1>
<%= link_to "New list", new_list_path %>

<% @lists.each do |list| %>
  <div class="card-category" data-controller="category">
      <p><%= link_to list.name, list_path(list.id) %></p>
  </div>
<% end %>
